/* Estilos para el componente de creación de coberturas */
.coberturas{
  margin: 10px;
  margin-left: 50px;
}
h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  margin-top: 5px;
}