<div class="poliza">
  <h1>Polizas</h1>
  <div  *ngIf="mostrarCrearPoliza != true">
  <h3>Crear nueva Poliza</h3>
  <button (click)="mostrarFormulario()">Crear Poliza</button> 
  </div>
  <!--Crear Poliza-->
  <div class="crear-poliza" *ngIf="mostrarCrearPoliza == true">
    <form>
      <label>Nombre de la Póliza: 
        <input type="text" [(ngModel)]="nuevaPoliza.nombre" name="nombre">
      </label>
      <div> Agregar Coberturas a Poliza:</div>
        <ul>
          <li *ngFor="let cobertura of coberturas">
            <label>{{ cobertura.coberturaNombre }}
              <input type="number" [(ngModel)]="cobertura.montoAsegurado" name="montoAsegurado">
            </label>            
          </li>
        </ul>  
        <button type="submit" (click)="crearPoliza(nuevaPoliza)">
          Crear
        </button>
        <button type="submit" (click)="volver()">
          Volver
        </button>


      
    </form>
  </div>

  <!-- Listado de pólizas -->
  <h3>Lista de Polizas</h3>
  <ul *ngFor="let poliza of polizas">
    <li>
      - {{ poliza.nombre }}
      <button (click)="verPoliza(poliza)">Ver</button>      
      <div *ngIf="poliza.selectedVer" class="coberturas-poliza">
        <div>Coberturas de la poliza:</div>
        <ul>
          <li *ngFor="let cobertura of poliza.polizasCoberturas">
            <div>- Nombre: {{ cobertura.coberturaNombre }} - ${{ cobertura.montoAsegurado }}</div>
          </li>        
        </ul>
        <div>Monto Total: ${{ poliza.montoTotal }}</div>
        <button (click)="editarPoliza(poliza)">Editar Poliza</button>
        <button (click)="initAgrerarCoberturasAPoliza(poliza)">Agregar coberturas</button>
        <button (click)="borrarPoliza(poliza)">Borrar Poliza</button>              
      </div>
    </li>
  </ul>

  <!--Editar Poliza-->
  <div class="editar-poliza" *ngIf="polizaSeleccionada.selectedActualizar">
    <h3> Editar Poliza</h3>
    <form>
      <label>Nombre de la Póliza: 
        <input type="text" [(ngModel)]="polizaSeleccionada.nombre" name="nombre">
      </label>
      <div>Coberturas de la poliza:</div>
      <div>(seleccionar las que desea borrar)</div>
      <ul>
        <li *ngFor="let cobertura of polizaSeleccionada.polizasCoberturas">
          <label>
            <input type="checkbox" [(ngModel)]="cobertura.selected" [value]="cobertura.selected ? true : false"> 
            {{ cobertura.coberturaNombre }}            
            <input type="number" [(ngModel)]="cobertura.montoAsegurado" name="montoAsegurado">
          </label>            
        </li>
      </ul>           
      <button type="submit" (click)="actualizarPoliza(polizaSeleccionada)">
        Actualizar
      </button>
    </form>
  </div>

  <!--Agregar Cobertura a Poliza-->
  <div class="agregar-cobertura" *ngIf="polizaSeleccionada.selectedAgregar">
    <h3> Agregar Coberturas a Poliza</h3>
    <form >
      <ul>
        <li *ngFor="let cobertura of coberturasAAgregrar">
          <label>{{ cobertura.coberturaNombre }} </label> 
          <input type="number" [(ngModel)]="cobertura.montoAsegurado" name="montoAsegurado">           
        </li>
      </ul>           
      <button type="submit" (click)="agregarCoberturas(polizaSeleccionada)">
        Agregar Coberturas
      </button>
    </form>
  </div>
</div>